@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* src/app/globals.css */

html {
  /* ทำให้การเลื่อนทุกอย่างในหน้าเว็บนุ่มนวล */
  scroll-behavior: smooth !important;
}

/* สำคัญมาก: เมื่อกดเมนู หน้าเว็บจะเลื่อนมาหยุดก่อนถึงตัวหนังสือจริง 80px 
   เพื่อให้พอดีกับความสูงของ Navbar ที่เป็น Sticky ครับ 
*/
section[id], div[id] {
  scroll-margin-top: 80px;
}